[Unit]
Description=PowerDNS Master container
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=30
Restart=no

ExecStartPre=-/usr/bin/docker stop powerdns-master
ExecStartPre=-/usr/bin/docker rm powerdns-master
ExecStartPre=/usr/bin/docker pull docker.io/jhcook/powerdns:masterv1
ExecStart=/usr/bin/docker run --rm --name powerdns-master -u 1001:0 \
          -p 0.0.0.0:53:5353/tcp -p 0.0.0.0:53:5353/udp \
          docker.io/jhcook/powerdns:masterv1
ExecStartPost=/bin/pdnscreate

ExecStop=/usr/bin/docker kill powerdns-master
ExecStopPost=/usr/bin/docker rm powerdns-master

[Install]
WantedBy=multi-user.target
