#!/bin/bash
# {{ ansible_managed }}

set -x

sleep 2

NS2_INTIP={{ hostvars['ukdigitalns02.' ~ role_fqdn]['ansible_host'] }}

/bin/docker exec -i powerdns-master /bin/bash <<-__EOF__
{% for domain in domains %}
pdnsutil create-zone {{ domain.name }} {{ domain.ns1 }}
pdnsutil add-record {{ domain.name }} ns1 A {{ domain.ns1ip }}
pdnsutil add-record {{ domain.name }} ns2 A {{ domain.ns2ip }}
pdnsutil add-record {{ domain.name }} @ NS {{ domain.ns2 }}
pdnsutil set-meta {{ domain.name }} ALLOW-AXFR-FROM AUTO-NS
pdnsutil set-meta {{ domain.name }} ALLOW-AXFR-FROM $NS2_INTIP/32
pdnsutil set-kind {{ domain.name }} master
{% if domain.records is defined %}
{% for record in domain.records %}
pdnsutil add-record {{ domain.name }} {{ record.name }} {{ record.type }} \
{{ record.content }}
{% endfor %}
{% endif %}
{% endfor %}
__EOF__
