#!/bin/bash
# {{ ansible_managed }}

set -x

sleep 2

NS1_INTIP={{ hostvars['ukdigitalns01.' ~ role_fqdn]['ansible_host'] }}

/bin/docker exec -i powerdns-slave /bin/bash <<-__EOF__
{% for domain in domains %}
pdnsutil create-slave-zone {{ domain.name }} $NS1_INTIP
pdns_control retrieve {{ domain.name }}
{% endfor %}
__EOF__
