# Global settings
#---------------------------------------------------------------------
global
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     2048
    user        haproxy
    group       haproxy
    daemon
    log         /dev/log local0 info
    tune.ssl.default-dh-param 2048

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          300s
    timeout server          300s
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 20000

listen stats :9000
    mode http
    stats enable
    stats uri /

frontend atomic-openshift-api
    bind 10.100.20.7:8443
    default_backend atomic-openshift-api
    mode http
    option tcplog

backend atomic-openshift-api
    balance source
    mode http
    server      master0 10.100.20.21:8443 check
    server      master1 10.100.20.22:8443 check
    server      master2 10.100.20.23:8443 check

frontend licensing-trade-gov-uk
    bind 10.100.20.7:80
    default_backend {{ domain_name }}-backend
    mode http
    option tcplog

backend {{ domain_name }}-backend
    mode http
    server      fe0 10.100.20.21:80 check
    server      fe1 10.100.20.22:80 check
    server      fe2 10.100.20.23:80 check
