# Global settings
#---------------------------------------------------------------------
global
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     2048
    user        haproxy
    group       haproxy
    daemon
    log         /dev/log local0 info

    ssl-default-bind-options no-sslv3
    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS

    ssl-default-server-options no-sslv3
    ssl-default-server-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS

    tune.ssl.default-dh-param 2048

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode    http
    log-format %hr\ %{+Q}r\ %Tt\ %ST\ %B
    #option httplog
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
#    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          300s
    timeout server          300s
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 20000

listen stats :9000
    mode http
    stats enable
    stats uri /

frontend atomic-openshift-api
    bind {{ vip }}:8443
    default_backend atomic-openshift-api
    mode tcp
    option tcplog
    option socket-stats
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }


backend atomic-openshift-api
    balance source
    mode tcp
    server      master0 10.100.1.21:8443 check
    server      master1 10.100.1.22:8443 check
    server      master2 10.100.1.23:8443 check

frontend tls_{{ domain_name }}-frontend
    bind {{ vip }}:443 ssl crt /etc/haproxy/certs/{{ domains[0] }}.pem
    reqadd X-Forwarded-Proto:\ https
    acl https          ssl_fc
    acl secured_cookie res.hdr(Set-Cookie),lower -m sub secure
    rspirep ^(set-cookie:.*) \1;\ Secure if https !secured_cookie
    acl letsencrypt-acl path_beg /.well-known/acme-challenge/
    use_backend letsencrypt-backend if letsencrypt-acl
    default_backend {{ domain_name }}-backend
    mode http
    option tcplog

frontend licensing-trade-gov-uk
    bind {{ vip }}:80
    default_backend {{ domain_name }}-backend
    mode http
    option tcplog
    capture request header Host len 50

backend {{ domain_name }}-backend
    redirect scheme https if !{ ssl_fc }
    option http-server-close
    mode http
    compression algo gzip
    compression type text/html text/plain text/css
    server      fe0 10.100.1.21:80 check
    server      fe1 10.100.1.22:80 check
    server      fe2 10.100.1.23:80 check

backend letsencrypt-backend
   server letsencrypt 127.0.0.1:54321

# CoScale agent
listen http-in
    bind 127.0.0.1:1936
    stats enable
    stats hide-version
    stats refresh 60s
    stats auth someuser:somepass
    stats uri  /haproxy?stats
